<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of products</title>
</head>
<body>
<h1>List of products:</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">Id</td>
        <td th:text="${product.title}">Title</td>
        <td th:text="${product.price}">Price</td>
    </tr>
</table>
</body>
</html>