<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${updated}">
    Saved successfully!
</div>

<form th:action="@{/product(page=${product.id})}" method="post" th:object="${product}">
    <p>Id: </p>
    <input type="number" th:value="${product.id}" disabled="disabled" name="id">
    <p>Title: </p>
    <input type="text" th:value="${product.title}"><br/>
    <p>Price: </p>
    <input type="number" th:value="${product.price}"><br/>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>